streamlit
streamlit-option-menu
litellm
PyGithub
crewai
chromadb
rapidfuzz
filelock
langchain-core
langchain-community
langchain-google-genai
langchain-openai
pydantic
pandas
beautifulsoup4
PyPDF2
apscheduler
requests
python-dotenv
sentence-transformers
PyYAML
supabase>=2.3.0
